html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

header {
  width: 100%;
  height: 20%;
  padding-left: 55px;
}

main {
  width: 100%;
  height: 80%;
}

.outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .4s ease;
}

.controls {
  width: 100%;
  height: 55px;
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.slider-container {
  min-width: 100%;
  width: 0%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: all .4s ease;
}

.side-control {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

.slider-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.column {
  min-width: 205px;
  max-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e7e9;
  margin: 5px;
  border-radius: 8px;
}

.placard {
  width: 90%;
  height: 45px;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 12px;
}

.placard:first-of-type {
  margin-top: 95px;
}

.image-drawer {
  width: 100%;
  height: 100%;
  background-color: #ffe6f7;
}

